﻿@model IEnumerable<Domain.Models.ApplicationForm>


<form method="get">
    Author Name
    <input type="text" name="authorName" class="form-control" />
    Promoter Email
    <input type="text" name="promoterEmail" class="form-control" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfEngineeringWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreateForm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    @Html.ActionLink("User", "Index", "User") |
    @Html.ActionLink("Role", "Index", "Role") |
    @Html.ActionLink("ReviewerAssignment", "Index", "ReviewerAssignment")

</table>
