﻿@model Domain.Models.Review

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsefulnessForPractice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsefulnessForPractice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnResearch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnResearch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Originality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Originality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedLiterature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedLiterature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageAndFormOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageAndFormOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentApplicationFormId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentApplicationFormId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentReviewerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentReviewerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
