﻿@model IEnumerable<Domain.Models.ApplicationForm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotorConfirmedForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfEngineeringWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotorConfirmedForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreateForm)
            </td>
            <td>
                @Html.ActionLink("Reviewer Assignmen", "ReviewerAssignmen", new { id = item.Id })
            </td>
        </tr>
    }
    @Html.ActionLink("Role", "Index", "Role") |
    @Html.ActionLink("Management", "Index", "Management") |
    @Html.ActionLink("User", "Index", "User")
</table>
