﻿@model WebUI.ViewModels.ReviewerAssignmentViewModels

@{
    ViewBag.Title = "ReviewerAssignmen";
}

<h2>ReviewerAssignmen</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ReviewerAssignmentViewModels</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEngineeringWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreateForm)
        </dd>
    </dl>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstReviewer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.FirstReviewer, new SelectList(ViewBag.Reviewer, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstReviewer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SecondReviewer, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SecondReviewer, new SelectList(ViewBag.Reviewer, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SecondReviewer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
