﻿@model WebUI.ViewModels.ApplicationFormViewModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*important line to download files*@
@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ApplicationFormViewModels</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*Promoter*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.Promoter, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ApplicationForm.PromoterId, new SelectList(ViewBag.Promoters, "Value", "Text"), "Select Promoter", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.PromoterId, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Author Name*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.AuthorName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.AuthorName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorName, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Author Address*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.AuthorAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.AuthorAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Author ZipCode*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.AuthorZipCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.AuthorZipCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorZipCode, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Author City*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.AuthorCity, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.AuthorCity, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorCity, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Title*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Type of engineering work*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.TypeOfEngineeringWork, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.TypeOfEngineeringWork, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.TypeOfEngineeringWork, "", new { @class = "text-danger" })
        </div>
    </div>

    @*School*@
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationForm.School, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationForm.School, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationForm.School, "", new { @class = "text-danger" })
        </div>
    </div>

    @*Engineering Work*@
    <div class="form-group">
        @Html.LabelFor(model => model.EngineeringWork, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.ValidationMessageFor(model => model.EngineeringWork, "", new { @class = "text-danger" })
        <div class="col-md-10">
            <input type="file" name="EngineeringWork" required />
        </div>
    </div>

    @*Summary Pl*@
    <div class="form-group">
        @Html.LabelFor(model => model.SummaryPl, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.ValidationMessageFor(model => model.SummaryPl, "", new { @class = "text-danger" })
        <div class="col-md-10">
            <input type="file" name="SummaryPl" />
        </div>
    </div>

    @*Summary En*@
    <div class="form-group">
        @Html.LabelFor(model => model.SummaryEn, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.ValidationMessageFor(model => model.SummaryEn, "", new { @class = "text-danger" })
        <div class="col-md-10">
            <input type="file" name="SummaryEn" />
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
