﻿@model Domain.Models.ApplicationForm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationForm</h4>
    <hr />
</div>


<dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEngineeringWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreateForm)
        </dd>

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.EngineeringWork).FirstOrDefault() != null)
        {
            <dt>
                Engineering Work
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.EngineeringWork).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.EngineeringWork })
            </dd>
        }

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryPl).FirstOrDefault() != null)
        {
            <dt>
                Summary Pl
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryPl).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.SummaryPl })
            </dd>
        }

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryEn).FirstOrDefault() != null)
        {
            <dt>
                Summary En
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryEn).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.SummaryEn })
            </dd>
        }

        @if (Model.Reviews != null)
        {
            foreach (var reviews in Model.Reviews)
            {
                if (reviews.CurrentApplicationFormId == Model.Id)
                {
                    <dt>
                        @Html.ActionLink("Display Review", "DisplayReview", new { reviewsId = reviews.Id })
                    </dt>
                    <dd></dd>

                }
            }
        }

</dl>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
