﻿@model Domain.Models.Review

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsefulnessForPractice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsefulnessForPractice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnResearch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnResearch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Originality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Originality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsedLiterature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsedLiterature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageAndFormOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageAndFormOfWork)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
