﻿@model IEnumerable<Domain.Models.ApplicationForm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*If student have application form, can't create next *@
    @if (!Model.Any())
    {
        @Html.ActionLink("Create New", "Create")
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfEngineeringWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreateForm)
        </td>
        <td>
            @*Student can delete and edit form, when promoter didn't accepted form*@
            @if (item.PromotorConfirmedForm == false)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            }

            @Html.ActionLink("Details", "Details", new { id = item.Id }) 

            @if (item.PromotorConfirmedForm == false)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
