﻿@model IEnumerable<WebUI.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get">
    Email
    <input type="text" name="email" class="form-control" />
    Role
    <input type="text" name="userRole" class="form-control" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.User.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.User.Id })
            </td>
        </tr>
    }

    @Html.ActionLink("Role", "Index", "Role") |
    @Html.ActionLink("Management", "Index", "Management") |
    @Html.ActionLink("ReviewerAssignment", "Index", "ReviewerAssignment")
</table>
