﻿@model IEnumerable<Domain.Models.ApplicationForm>

<form method="get">
    Email
    <input type="text" name="email" class="form-control" />
    Title
    <input type="text" name="titleOfEngineeringWork" class="form-control" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfEngineeringWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreateForm)
        </td>
        <td>
            @Html.ActionLink("View More", "ViewMore", new { id = item.Id })
        </td>
    </tr>
}

</table>
