﻿@model Domain.Models.Review

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Review</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CurrentApplicationFormId)
    <div class="form-group">
        @Html.LabelFor(m => m.SubjectOfWork, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SubjectOfWork, new SelectList(ViewBag.Numbers, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SubjectOfWork, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UsefulnessForPractice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UsefulnessForPractice, new SelectList(ViewBag.Numbers, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UsefulnessForPractice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OwnResearch, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.OwnResearch, new SelectList(ViewBag.Numbers, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OwnResearch, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UsedLiterature, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UsedLiterature, new SelectList(ViewBag.Numbers, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UsedLiterature, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Originality, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Originality, new SelectList(ViewBag.Numbers, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Originality, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LanguageAndFormOfWork, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.LanguageAndFormOfWork, new SelectList(ViewBag.Numbers, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LanguageAndFormOfWork, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
