﻿@{
    ViewBag.Title = "Index";
}
    <tr>
        <td>
            @Html.ActionLink("Forms For Review", "ApplicationFormsForReview") |
            @Html.ActionLink("Forms Reviewed", "ApplicationFormsReviewed")
        </td>
    </tr>
