﻿@model Domain.Models.ApplicationForm

<div>
    <h4>ApplicationForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEngineeringWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotorConfirmedForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotorConfirmedForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreateForm)
        </dd>
        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.EngineeringWork).FirstOrDefault() != null)
        {
            <dt>
                Engineering Work
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.EngineeringWork).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.EngineeringWork })
            </dd>
        }

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryPl).FirstOrDefault() != null)
        {
            <dt>
                Summary Pl
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryPl).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.SummaryPl })
            </dd>
        }

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryEn).FirstOrDefault() != null)
        {
            <dt>
                Summary En
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryEn).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.SummaryEn })
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Create Review", "CreateReview", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
