﻿@model IEnumerable<Domain.Models.ApplicationForm>

@{
    ViewBag.Title = "ConfirmedForms";
}

<h2>ConfirmedForms</h2>


<form method="get">
    Email 
    <input type="text" name="email" class="form-control"/>
    Title 
    <input type="text" name="titleOfEngineeringWork" class="form-control"/>
    <input type="submit" value="Search" class="btn btn-default" />
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAuthor.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentAuthor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentAuthor.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentAuthor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfEngineeringWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreateForm)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) 
        </td>
    </tr>
}

</table>
