﻿@model Domain.Models.ApplicationForm

@{
    ViewBag.Title = "ConfirmForms";
}

<h2>ConfirmForms</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEngineeringWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreateForm)
        </dd>

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.EngineeringWork).FirstOrDefault() != null)
        {
            <dt>
                Engineering Work
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.EngineeringWork).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.EngineeringWork })
            </dd>
        }

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryPl).FirstOrDefault() != null)
        {
            <dt>
                Summary Pl
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryPl).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.SummaryPl })
            </dd>
        }

        @if (Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryEn).FirstOrDefault() != null)
        {
            <dt>
                Summary En
            </dt>

            <dd>
                @Html.ActionLink(Model.PdfFile.Where(q => q.KindOfEngineeringWorks == Domain.Enum.KindOfEngineeringWorks.SummaryEn).FirstOrDefault().Name, "ReturnFile", new { applicationFormId = Model.Id, kindOfEngineeringWorks = Domain.Enum.KindOfEngineeringWorks.SummaryEn })
            </dd>
        }

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
