﻿@model Domain.Models.ApplicationForm

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfEngineeringWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfEngineeringWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotorConfirmedForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotorConfirmedForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreateForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreateForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromoterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromoterId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
