﻿@model WebUI.ViewModels.ApplicationFormViewModels

@using (Html.BeginForm("Edit", "Promoter", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ApplicationFormViewModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ApplicationForm.Id)
        @Html.HiddenFor(model => model.ApplicationForm.PromoterId)

        @*Author Name*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.AuthorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Author Address*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.AuthorAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.AuthorAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Author ZipCode*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.AuthorZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.AuthorZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Author ZipCode*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.AuthorCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.AuthorCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.AuthorCity, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Title*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Type of engineering work*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.TypeOfEngineeringWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.TypeOfEngineeringWork, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.TypeOfEngineeringWork, "", new { @class = "text-danger" })
            </div>
        </div>

        @*School*@
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationForm.School, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationForm.School, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationForm.School, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Engineering Work*@
        <div class="form-group">
            @Html.LabelFor(model => model.EngineeringWork, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.EngineeringWork, "", new { @class = "text-danger" })
            <div class="col-md-10">
                <input type="file" name="EngineeringWork" />
            </div>
        </div>

        @*Summary Pl*@
        <div class="form-group">
            @Html.LabelFor(model => model.SummaryPl, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.SummaryPl, "", new { @class = "text-danger" })
            <div class="col-md-10">
                <input type="file" name="SummaryPl" />
            </div>
        </div>

        @*Summary En*@
        <div class="form-group">
            @Html.LabelFor(model => model.SummaryEn, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.SummaryEn, "", new { @class = "text-danger" })
            <div class="col-md-10">
                <input type="file" name="SummaryEn" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
