﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<tr>
    <td>
        @Html.ActionLink("Confirmed Forms", "ConfirmedForms") |
        @Html.ActionLink("Unconfirmed Forms", "UnconfirmedForms") |
        @Html.ActionLink("Create New", "Create")
    </td>
</tr>

